{% extends 'base.html.twig' %}


{% block body %}
    <h3>Avis sur ce livre</h3>
    <ul>
        {% for review in reviews %}
            <li>
                Note : {{ review.note }}/5<br>
                Commentaire : {{ review.commentaire }}<br>
                Le {{ review.date|date('d/m/Y') }}
            </li>
        {% else %}
            <li>Aucun avis pour ce livre.</li>
        {% endfor %}
    </ul>

{% endblock %}
